*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1920px;
    margin: 0 auto;
    padding: 35px 200px;
    display: flex;
}

.bacground{
    width: 1920px;
    height: 1080px;
    background-image: url(./images/kings-raid-pandemoniumx-8k-2m-5120x2880.jpg);
    position: absolute;
}

.blur{
    width: 1520px;
    background: rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    padding: 35px;
    margin: 20px;

}

header div .blur{
    height: 200px;
}

section div .blur{
    height: 300px;
}

footer div .blur{
    height: 200px;
}

h2{
    color: white;
    font-size: 50px;
    font-weight: 700;
}

p{
    color: white;
    font-size: 30px;
    font-weight: 700;
}

button{
    width: 100px;
    border: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 5px;
    margin-left: 1800px;
    background-color: transparent;
    filter: drop-shadow(5px 5px 10px #fff);
}

a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}